@use 'base/variables' as v;
@use 'base/mixins' as m;

.content{
    margin-top: 5rem;
    font-size: 2rem;
    padding: 2.3rem;
    border-radius: 1rem;
    box-shadow: 10px 7px 28px 1px rgba(0,0,0,0.47);
    @include m.tablet{
        font-size: 3rem;
    }
    text-align: center;
    color: #3E5447;
    &__text{
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
    }

    &__last{
        margin-bottom: 5rem;
    }
}
